extends ../default

block content

  include ../templates/nav


  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h4(class=['ui','header','blue', 'dividing'])='Modificar de calificación'


      span='permite crear los registros de las calificaciones'

      div(class='form-nuevacalificacion')
        form(class=['ui','form'] action='http://localhost:3000/actualizarcal' method='post')
                   
          div(class=['ui','two','fields'])
            div(class=['ui','field'])
              label(for='nocontrol_alumno')='no control del estudiante'
              input(type='text' name='nocontrol_alumno'  placeholder='nocontrol' value=calificacion[0].nocontrol_alumno)
            div(class=['ui','field'])
              label(for='materia')='materia'
              input(type='text' name='materia' placeholder='materia' value=calificacion[0].materia)    

          
          div(class=['ui','field'])
              label(for='calificacion')='calificaciones del estudiante'
              input(type='text' name='calificacion' placeholder='calificacion' value=calificacion[0].calificacion)

          div(class=['ui','field'])
              label(for='id')='id'
              input(type='hidden' name='id' placeholder='calificacion' value=calificacion[0].id)
            
          div(class=['ui','field']) 
               button(class=['ui','button','basic','black'])='Ingresar calificacion' 
               div(class=['ui','message','error'])




  script(src='/javascripts/validacion2.js')       
                  