extends ../default

block content

  include ../templates/nav


  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h4(class=['ui','header','blue', 'dividing'])='Gestión de Estudiantes'


      span='permite crear los registros de los Estudiantes'

      div(class='form-nuevoestudiante')
        form(class=['ui','form'] action='http://localhost:3000/crearestudiante' method='post')
          div(class=['ui','field'])
            label(for='id')='id del estudiante'
            input(type='text' name='id' placeholder='id')
            
          div(class=['ui','two','fields'])
            div(class=['ui','field'])
              label(for='nocontrol')='no control del estudiante'
              input(type='text' name='nocontrol' placeholder='nocontrol')
            div(class=['ui','field'])
              label(for='nombre')='nombre del estudiante'
              input(type='text' name='nombre' placeholder='nombre')    

          div(class=['ui','two','fields'])
            div(class=['ui','field'])
              label(for='grado')='grado del estudiante'
              input(type='text' name='grado' placeholder='grado')
            div(class=['ui','field'])
              label(for='grupo')='grupo del estudiante'
              input(type='text' name='grupo' placeholder='grupo') 

          div(class=['ui','field']) 
               button(class=['ui','button','basic','black'])='Ingresar Estudiante' 
               div(class=['ui','message','error'])

        if info != undefined
          div(class=['ui','message','success'])
            i(class=['close','icon'])
            div(class='header')='Estudiante registrado'
            p=info


  script(src='/javascripts/validacion.js')       
                  